.checkbox {
    border: 1px solid #B3B3B4;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:hover {
    border: 1px solid #0164FF;
}

.checkbox:focus {
    border: 1px solid #1B1C1E;
}

.checkbox.checked {
    background: #0164FF;
    color: white;
}

.checkbox.checked:hover {
    background: #0143AA;
}

.checkbox.checked:focus {
    background: #0663C7;
}

.checkbox.disable {
    background: #EEF5FC;
    border: 1px solid #EEF5FC;
    pointer-events: none;
}

.checkbox.signal {
    background: #C70404;
    border: 1px solid #C70404;
}