.radio {
  border: 1px solid #212121;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.radio:hover {
  border: 1px solid #0153d5;
}

.radio:focus {
  border: 1px solid #414244;
}

/* The blue div when radio is clicked*/
.radio.clicked {
  background: #0164ff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.radio.clicked:hover {
  background: #0153d5;
}

.radio.clicked:focus {
  background: #0153d5;
}
