.button {
  border: none;
  background: #0153d5;
  color: white;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background: #2b7eff;
}

.button.focus {
  background: #0164ff;
}

.button.active {
  background: #013280;
}

.isloading {
  background: #0153d5;
}

.disable {
  background: #8d8d8e;
}

.icon {
  padding-left: 10px;
  font-size: 10px;
  color: #013280;
}

/* The stylings for the Normal buttons*/
.normal {
  width: 150px;
  height: 56px;
}

/* The stylings for the Medium buttons*/

.medium {
  width: 125px;
  height: 50px;
}

/* The stylings for the Small buttons*/

.small {
  width: 100px;
  height: 46px;
}



